@import '../../shared/pallete.scss';

$keyBackground: white;
$keyBorderHover: blue;
$keyBackgroundActive: lightgray;
$label: $pink;
$height: 10em;
$width: 3em;

$sizeXS: 8pt;
$sizeS: 10pt;
$sizeM: 12pt;
$sizeL: 14pt;
$sizeXL: 16pt;
$sizeXXL: 30pt;



.Key {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: $keyBackground;
    border: 2px solid black;
    height: $height;
    width: $width;
    display: flex;
    align-content: center;
    align-items: flex-end;
    user-select: none;
    cursor: pointer;
    
    label {
        color: $label;
        width: 100%;
        text-align: center;
        padding-bottom: .25rem;
        user-select: none;
    }
}

.size {
    &-xs {font-size: $sizeXS;}
    &-s {font-size: $sizeS;}
    &-m {font-size: $sizeM;}
    &-l {font-size: $sizeL;}
    &-xl {font-size: $sizeXL;}
    &-xxl {font-size: $sizeXXL;}
}

.shortBlack {
    $blackKeyWidth: $width/1.5;
    position: absolute;
    height: $height/2;
    width: $blackKeyWidth;
    background-color: black;
    border-color: $gray;
    left: -($blackKeyWidth/2);
}

.blackKeyWrapper {
    width: 0;
    height: 0;
    position: relative;
}

.active {
    background-color: $label;
    label {
        color: white;
    }
}




